#screen {
    position: absolute;
    left: 20px;
    top: 20px;
    right: 20px;
    border: 1px solid black;
    overflow: hidden;
}

#map {
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 30px;
    left: 30px;
    /* i know, it's ugly */
    z-index: 9999;
}

#minimap {
    position: absolute;
}

#objects {
    position: absolute;
}

#floor {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #9b9b9b 22%, #535353 62%, #5c5c5c 100%);
}

#ceiling {
    position: absolute;
    width: 100%;
    height: 50%;
    background-image: url("assets/ceiling.jpg");
    /* background: linear-gradient(to bottom, #69532f 0%, #a3772e 22%, #835019 62%, #5e3a11 100%); */
}