body {
    background: linear-gradient(to bottom, #69532f 0%, #a3772e 22%, #835019 62%, #5e3a11 100%); 
}

#screen {
    position: absolute;
    margin: auto;
    left: 0; top: 0; bottom: 0; right: 0;
    border: 1px solid black;
    overflow: hidden;
    user-select: none;
}

#map {
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    left: 10px;
    top: 10px;
    /* i know, it's ugly */
    z-index: 99999;
}

#minimap { position: absolute; }
#objects { position: absolute; }

#floor {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #000 50%, #42301c 100%);
}

#ceiling {
    position: absolute;
    width: 100%;
    height: 50%;
    background-image: url("assets/ceiling.jpg");
}
